.calculator { 
    height: 390px;
    width: 245px;
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 58px 58px 58px 58px 58px;
}