@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300&display=swap');
* {
  font-family:'Work Sans', monospace;
  font-weight: 200;
}

body {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background: linear-gradient(to right,  #283048, #859398);
}